mat-card{
    width: 50%;
    margin: 200px auto;
}

form {
   display: block;
   
   .mat-form-field {
       width: 100%;
   }
}

.mat-raised-button {
    margin-right: 10px;
    margin-top: 10px;
}

form {
    margin-bottom: 50px;
}



